<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <RollingFile name="MyRollingFile"
                     fileName="/var/log/bahmni-two-factor-auth/audit-logs/bahmni-two-factor-auth.log"
                     filePattern="/var/log/bahmni-two-factor-auth/audit-logs/bahmni-two-factor-auth-%d{yyyy-MM-dd}-%i.log">
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <root>
            <appender-ref ref="MyRollingFile" level="info"/>
        </root>
    </loggers>
</configuration>